.kanji-guess-app {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  margin: 0;
}

body {
  background-color: #1A1A1D;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal-button {
  margin: 5px;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  transition-duration: .25s;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.normal-button:hover {
  color: #f6f6f6;
  background-color: #C3073F;
  transition-duration: .25s;
}

.kanji-container {
  background-color: #C3073F;
  width: 500px;
  border-radius: 10px;
}

.char-box {
  margin: 5px;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  color: #C3073F;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  transition-duration: .25s;
}

.box-container {
  width: 400px;
  height: 200px;
}

.kanji {
  line-height: 250px;
  margin: 0;
  font-size: 150px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  text-align: center;
  color: #f6f6f6;
}

.guess-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.guess {
  border: none;
  padding: 0px;
  margin: 5px;
  width: 300px;
  height: 75px;
  font-size: 20px;
  text-align: center;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: #C3073F;
  outline: none;
}

.box-guess-container {
  height: 30px;
}

.box-guess {
  color: white;
}

.guess:focus::placeholder {
  color: transparent;
}