body {
  font-size: 62.5%;
  background-color: #1A1A1D;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top {
  background-color: #4E4E50;
  text-align: center;
  width: auto;
  height: 5rem;
}

.top-button {
  background-color: #4E4E50;
  box-shadow: inset 0px 0rem 0px #1A1A1D;
  color: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-family: 'Zen Antique', serif;
  width: 100px;
  height: 5rem;
  transition-duration: 0.25s;
}

.top-button:hover {
  box-shadow: inset 0px -1rem 0px #1A1A1D;
  transition-duration: 0.25s;
}

.top-button:active {
  box-shadow: inset 0px -5rem 0px #1A1A1D;
  transition-duration: 0.05s;
}

.kanji-container {
  background-color: #C3073F;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  width: 30rem;
  height: 15rem;
  border: none;
  border-radius: 15px;
}

.kanji {
  margin: 0%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 10.0rem;
  font-family: 'Zen Antique', serif;
  text-align: center;
  color:white;
}